* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Wrapper div */
.main {
    height: 142.5vh;
    width: 100%;
    /* border: 1px dotted black; */
}

/* Nav1 */
.nav1 {
    height: 5vh;
    width: 100%;
    display: flex;
}

.upper_left {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.gola {
    height: 1.5vw;
    width: 1.5vw;
    background-color: black;
    border-radius: 50%;
}

.upper_right {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
    padding-right: 2%;
}

.lang {
    display: flex;
    gap: 0.4vw;
}

.upper_right p {
    font-size: 1.2vw;
}

/* Nav2 */
.nav2 {
    height: 5vh;
    width: 100%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    gap: 6%;
}

.nav2 p {
    font-size: 1.2vw;
}

/* Scrollar div */
.scrollar {
    height: 55vh;
    width: 100%;
    /* border: 2px dashed rgb(231, 13, 13); */
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
}

/* .scrollar::-webkit-scrollbar {
    background-color: white;
    height: 0.5vw;
}
.scrollar::-webkit-scrollbar-thumb {
    background-color: rgb(80, 206, 80);
    border-radius: 10px;
} */

.marquee_animation_div {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    /* border: 3px solid yellow; */
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
    animation-duration: 45s;
    animation-timing-function: linear;
}

@keyframes moving {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

.container_scrollar {
    height: 53vh;
    width: 50vw;
    /* background-color: rgb(17, 215, 136); */
    /* border: 5px dashed black; */
    flex: 0 0 auto;
    margin-right: 10px;
}

.container_scrollar .upper {
    height: 30%;
    width: 100%;
    /* border: 2px solid rgb(182, 59, 59); */
    display: flex;
    align-items: flex-end;
    gap: 10%;
    padding-left: 4%;

}

.container_scrollar .upper p {
    font-size: 2vw;
}

.container_scrollar .lower {
    height: 70%;
    width: 100%;
    /* border: 2px solid rgb(174, 217, 33); */
    padding-left: 17%;

}

.container_scrollar .lower p {
    font-size: 10.5vw;
}

.lower_thumb_animation {
    height: 1.5vh;
    /* height: 10vh; */
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: hidden; */
    transform: translateX(-100%);
    /* overflow-x: hidden; */
}

.thumb_container {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    animation-name: moving_thumb;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;

}

.thumb {
    height: 100%;
    width: 25%;
    /* border-radius: 50%; */
    background-color: greenyellow;

}

@keyframes moving_thumb {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(100%);
    }

}

/* Image container div */
.image_container {
    margin-top: 0.3%;
    height: 75vh;
    width: 100%;
    /* overflow-y: hidden; */
}

.image_container img {
    object-fit: cover;
    object-position: 0 26%;
    height: 100%;
    width: 100%;
}
